ui-loader .ui-icon {
    background-image: url(themes/images/loaders/arcade.gif);
}

.ui-icon-loading {
    background-image: url(themes/images/loaders/arcade.gif);
    background-size: 46px 46px;
}

.divIconPos {
    position: absolute;
    display: inline;
    left: 3px;
}

html {
    background: transparent;
}

body {
    background: #000000 url(themes/images/backgrounds/default.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom right !important;
    background-attachment: fixed !important;
    background-size: 75% !important;
}

.ui-page {
    background: transparent;
}

.ui-content {
    background: transparent;
}

.quiz {
    background: url(../img/category_icons/quiz.png), url(themes/images/buttons/default_btn.png);
}

.notifications {
    background: url(../img/category_icons/messages.png), url(themes/images/buttons/default_btn.png);
}

.profile {
    background: url(../img/category_icons/profile.png), url(themes/images/buttons/default_btn.png);
}

.clubs {
    background: url(../img/category_icons/clubs.png), url(themes/images/buttons/default_btn.png);
}

.custom {
    background: url(../img/category_icons/customgames.png), url(themes/images/buttons/default_btn.png);
}

.head2head {
    background: url(../img/category_icons/headtohead.png), url(themes/images/buttons/default_btn.png);
}

.recent {
    background: url(../img/category_icons/recentactivity.png), url(themes/images/buttons/default_btn.png);
}

.myscores {
    background: url(../img/category_icons/myscores.png), url(themes/images/buttons/default_btn.png);
}

.videogames {
    background: url(../img/category_icons/arcadegames.png), url(themes/images/buttons/default_btn.png);
}

.allgames {
    background: url(../img/category_icons/allgames.png), url(themes/images/buttons/default_btn.png);
}

.pinball {
    background: url(../img/category_icons/pinball.png), url(themes/images/buttons/default_btn.png);
}

.beatemup {
    background: url(../img/category_icons/beatemup.png), url(themes/images/buttons/default_btn.png);
}

.fighting {
    background: url(../img/category_icons/fighting.png), url(themes/images/buttons/default_btn.png);
}

.guns {
    background: url(../img/category_icons/guns.png), url(themes/images/buttons/default_btn.png);
}

.hackandslash {
    background: url(../img/category_icons/hackandslash.png), url(themes/images/buttons/default_btn.png);
}

.maze {
    background: url(../img/category_icons/maze.png), url(themes/images/buttons/default_btn.png);
}

.platformer {
    background: url(../img/category_icons/platformer.png), url(themes/images/buttons/default_btn.png);
}

.topfifty {
    background: url(../img/category_icons/topfifty.png), url(themes/images/buttons/default_btn.png);
}

.friends {
    background: url(../img/category_icons/friends.png), url(themes/images/buttons/default_btn.png);
}

.puzzle {
    background: url(../img/category_icons/puzzle.png), url(themes/images/buttons/default_btn.png);
}

.racing {
    background: url(../img/category_icons/racing.png), url(themes/images/buttons/default_btn.png);
}

.runandgun {
    background: url(../img/category_icons/runandgun.png), url(themes/images/buttons/default_btn.png);
}

.shooter {
    background: url(../img/category_icons/shooter.png), url(themes/images/buttons/default_btn.png);
}

.sports {
    background: url(../img/category_icons/sports.png), url(themes/images/buttons/default_btn.png);
}

.rhythm {
    background: url(../img/category_icons/rhythm.png), url(themes/images/buttons/default_btn.png);
}

.misc {
    background: url(../img/category_icons/misc.png), url(themes/images/buttons/default_btn.png);
}

.tile {
    width: 40vw !important;
    height: 38vw !important;
    margin-bottom: 5vw;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid-column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}