@font-face {
    font-family: "customfont";
    src: url("../res/donkeykong.ttf");
}

title, h1, h3, li[data-role="list-divider"] {
    font-family: "customfont";
    font-size: 200% !important;
    color: red !important;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow !important;
}

.ui-header .ui-title, .ui-footer .ui-title {
    padding: 0;
}

.ui-listview > .ui-li-divider {
    padding: 0em 0.5em;
    font-size: 22px !important;
}

ui-loader .ui-icon {
    background-image: url(themes/images/donkeykong.gif);
} 

.ui-icon-loading {  
	background-image: url(themes/images/donkeykong.gif);
	background-size: 46px 46px;				
}

html {
    background: transparent;    
}

body {
    background: #FFB855 url(themes/images/donkeykong.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom right !important;
    background-attachment: fixed !important;
    background-size: 75% !important;
}

.ui-page {
    background: transparent;
}

.ui-content {
    background: transparent;
}

.custom {
    background: url(../category_icons/customgames.png), url(themes/images/donkeykong_btn.png);
}

.head2head {
    background: url(../category_icons/headtohead.png), url(themes/images/donkeykong_btn.png);
}

.recent {
    background: url(../category_icons/recent.png), url(themes/images/donkeykong_btn.png);
}

.myscores {
    background: url(../category_icons/myscores.png), url(themes/images/donkeykong_btn.png);
}
.allgames {
    background: url(../category_icons/allgames.png), url(themes/images/donkeykong_btn.png);
}
.pinball {
    background: url(../category_icons/pinball.png), url(themes/images/donkeykong_btn.png);
}
.beatemup {
    background: url(../category_icons/beatemup.png), url(themes/images/donkeykong_btn.png);
}
.fighting {
    background: url(../category_icons/fighting.png), url(themes/images/donkeykong_btn.png);
}
.guns {
    background: url(../category_icons/guns.png), url(themes/images/donkeykong_btn.png);
}
.hackandslash {
    background: url(../category_icons/hackandslash.png), url(themes/images/donkeykong_btn.png);
}
.maze {
    background: url(../category_icons/maze.png), url(themes/images/donkeykong_btn.png);
}
.platformer {
    background: url(../category_icons/platformer.png), url(themes/images/donkeykong_btn.png);
}
.topfifty {
    background: url(../category_icons/topfifty.png), url(themes/images/donkeykong_btn.png);
}
.friends {
    background: url(../category_icons/friends.png), url(themes/images/donkeykong_btn.png);
}
.puzzle {
    background: url(../category_icons/puzzle.png), url(themes/images/donkeykong_btn.png);
}
.racing {
    background: url(../category_icons/racing.png), url(themes/images/donkeykong_btn.png);
}
.runandgun {
    background: url(../category_icons/runandgun.png), url(themes/images/donkeykong_btn.png);
}
.shooter {
    background: url(../category_icons/shooter.png), url(themes/images/donkeykong_btn.png);
}
.sports {
    background: url(../category_icons/sports.png), url(themes/images/donkeykong_btn.png);
}
.rhythm {
    background: url(../category_icons/rhythm.png), url(themes/images/donkeykong_btn.png);
}
.misc {
    background: url(../category_icons/misc.png), url(themes/images/donkeykong_btn.png);
}
.news {
    background: url(../category_icons/news.png), url(themes/images/donkeykong_btn.png);
}

.tile {
    width: 40vw !important;
    height: 40vw !important;
    margin-bottom: 5vw;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid-column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.savebutton {
    height: 28px !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 2px !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
    background-color: #FF6800 !important;
    border-color: #B80000 !important;
    color: #000000 !important;
    text-shadow: 0 0 0 #f3f3f3 !important;
}

.savebuttontime {
    height: 28px !important;
    float: right;
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
    background-color: #FF6800 !important;
    border-color: #B80000 !important;
    color: #000000 !important;
    text-shadow: 0 0 0 #f3f3f3 !important;
}